<div class="fluid-container" style="width: 100%;overflow: hidden;">
    <div class="row">
        <div class="d-flex flex-row margin-width">
            <hr class="first-part">
            <h2>Back to Top</h2>
            <hr class="second-part">
        </div>

      

        <div class="container items">
            <div class="row">
                <div class="col-sm d-flex flex-column">
                    <h4>Know US </h4>
                    <img src="../../../assets/img1.png" class="image-part">
                    <h6>About</h6>
                    <h6>FAQ</h6>
                    <h6>Community</h6>
                    <h6>Career</h6>
                    <h6>Security</h6>
                    <h6>Payment GateWay</h6>
                    <h6>Buyer Protection</h6>
                    <h6>Seller Protection</h6>
                </div>
                <div class="col-sm d-flex flex-column">
                    <h4>Join US </h4>
                    <img src="../../../assets/img2.png" class="image-part">
                    <div class=" d-flex flex-row">
                        <img src="../../../assets/facebook.png" class="image-part-2">
                        <img src="../../../assets/twitter.png" class="image-part-2">
                    </div>
                    <div class=" d-flex flex-row">
                        <img src="../../../assets/whatsapp.png" class="image-part-2">
                        <img src="../../../assets/insta.png" class="image-part-2">
                    </div>
                    <div class=" d-flex flex-row">
                        <img src="../../../assets/linkedin.png" class="image-part-2">
                        <img src="../../../assets/pinterest.png" class="image-part-2">
                    </div>
                    <div class=" d-flex flex-row">
                        <img src="../../../assets/youtube.png" class="image-part-2">
                        <img src="../../../assets/mail.png" class="image-part-2">
                    </div>
                </div>
                <div class="col-sm d-flex flex-column">
                    <h4>Make Money </h4>
                    <img src="../../../assets/img3.png" class="image-part">
                    <h6>Sell on esycles</h6>
                    <h6>Advertise on esycles</h6>
                    <h6>Categories</h6>
                    <h6>Events</h6>
                    <h6>Jobs</h6>
                    <h6>Project Bidding</h6>
                    <h6>RFQ</h6>
                    <h6>Affiliate</h6>
                </div>
                <div class="col-sm d-flex flex-column">
                    <h4>Need </h4>
                    <img src="../../../assets/img4.png" class="image-part">
                    <h6>Contact</h6>
                    <h6>Support</h6>
                    <ul>
                        <li>
                            <h6>B2B Chanel</h6>
                        </li>
                        <li>
                            <h6>D2c Chanel</h6>
                        </li>
                        <li>
                            <h6>B2c Chanel</h6>
                        </li>
                        <li>
                            <h6>C2C Chanel</h6>
                        </li>
                        <li>
                            <h6>C2B Chanel</h6>
                        </li>
                    </ul>
                    <h6>Your Account</h6>
                    <h6>Shipping & Delivery</h6>
                    <h6>Returns & Cancellation</h6>
                    <h6>Dispute</h6>
                </div>
            </div>
        </div>
        <img src="../../../assets/foorterPic.png" style="height: 110px;">
        <div style="display: flex;justify-content: center;width: 100%;">
        <div class="d-flex flex-row " style="display: flex;justify-content: space-between; width: 60%;">

                    <img src="../../assets/header-icon.png">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="select-container">
                            <span class="select-icon">
                              <i class="fa fa-globe" style="color: orangered;"></i>
                            </span>
                            <select name="cars" id="English" class="language-select">
                              <option value="English">English</option>
                              <option value="French">French</option>
                              <option value="Urdu">Urdu</option>
                              <option value="Arabic">Arabic</option>
                            </select>
                          </div>

                          <div class="select-container-2">
                            <span class="select-icon">
                              <i class="fa fa-flag" style="color: orangered;"></i>
                            </span>
                            <select name="cars" id="unitedState" class="country-select">
                              <option value="unitedState">United States</option>
                              <option value="France">France</option>
                              <option value="England">England</option>
                            </select>
                          </div>

                          <div class="select-container-3">
                            <span class="select-icon">
                               
                        
                            </span>
                            <select name="cars" id="USD" class="language-select">
                              <option value="USD">(USD)</option>
                              <option value="PKR">(PKR)</option>
                              <option value="INR">(INR)</option>
                            </select>
                          </div>
                    </div>
                 

        </div>
    </div>
    </div>
</div>