<div class="main-container">
    <div class="inner-conainer">
        <table >
            <tr style="height: 100px;">
              <th>Product IMG</th>
              <th>Product Name</th>
              <th>Rating</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <tr>
            <tr style="height: 45px;">
                <td style="width: 30%;"><img src="../../assets/bicycle.img.webp" style="width: 90%;"></td>
              <td style="width: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eius animi unde reiciendis est ab fugiat officia neque adipisci corporis?</td>
              <td><div style="margin-right: 7px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star "></span>
            </div></td>
              <td style="font-size: xx-large;">$975</td>
              <td style="font-size: xx-large;">{{Quantity}}</td>
            </tr>
          </table>
          <div style="height: 45px;display: flex;justify-content: end;align-items: center;margin-top: 20px;">
<span style="font-size: 30px;">Total:{{Quantity * 975}}</span>
          </div>
          <div style="height: 45px;display: flex;justify-content: center;align-items: center;margin-top: 10px;">
<button type="button" routerLink="/dashboard" style="width: 25%;border-radius: 10px;background-color: orange;border: 1px solid orange;color: white;height: 35px;">
    Shop more
</button>
          </div>
    </div>

</div>

