<div class="main-container">
    <div class="inner-container">
        <div class="img-container">
            <img src="../../assets/bicycle.img.webp">
        </div>
        <div class="detail-container">
            <div style="margin-top: 5px ;" class="section">

                <span style="font-size: larger;">Product Name </span><span style="margin-right: 7px;">Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Ex, velit?</span>
            </div>
            <div style="margin-top: 5px ;" class="section">

                <span style="font-size: larger;">Rating </span>
                <div style="margin-right: 7px;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star "></span>
                </div>
            </div>
            <div style="margin-top: 5px ;" class="section">

                <span style="font-size: larger;">Price </span><span style="margin-right: 7px;">$945</span>
            </div>
            <div style="margin-top: 5px ;" class="section">

                <span style="font-size: larger;">Save Upto </span><span style="margin-right: 7px;">$ 40</span>
            </div>
            <div style="margin-top: 5px ;" class="section">

                <span style="font-size: larger;"> In Stock </span><span style="margin-right: 7px;">only 2
                    available</span>
            </div>
            <div style="margin-top: 5px ;" class="section">

                <span style="font-size: larger;"> Benefits </span><span style="margin-right: 7px;">Free Shiping ,
                    Prjoect Bidding</span>
            </div>
        </div>
    </div>
</div>