.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    .inner-container{
        width: 70%;
        height: 90%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1 0px dotted gray;
border-radius: 20px;
        .img-container{
            width: 90%;
            height: 30%;
            display: flex;
            margin: auto;
            justify-content: center;
            // img{
            //     width: 50%;
            //     height: 50%;

            // }
        }
        .detail-container
        {
            width: 90%;
            height: 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            .section{
                width: 90%;
                display: flex;
                justify-content: space-between;
                height: 10%;
                margin: auto;
                background-color: gray;
                
                border-radius: 5px;
                span{
                    margin-left: 7px;
                    margin-top: 10px;
                    color: white;
                }
                
                
            }
        }
        
    }
}