<div>
    <div class="main-container">
        <div class="inner-container">
            <div class="header-start"
                style="display: flex;justify-content: space-between; background-color: gray;border-radius: 5px;margin-top: 10px;">
                <mat-icon style="margin-top: 15px;">keyboard_arrow_left</mat-icon>
                <mat-icon style="margin-top: 15px;">keyboard_arrow_right</mat-icon>
            </div>
            <div class="header-start">
                <div class="icons">
                    <div class="div1">
                        <div>
                            <mat-icon>group</mat-icon><span>Community</span>
                        </div>
                        <div>
                            <mat-icon>group</mat-icon><span>Jobs</span>
                        </div>
                        <div>
                            <mat-icon>event_available</mat-icon><span>Events</span>
                        </div>
                        <div>
                            <mat-icon>help</mat-icon><span>Help</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="img">
                    <img src="../../assets/header-icon.png">
                </div>
                <div class="input">
                    <input type="text" placeholder="Product">
                    <mat-icon class="icons" style="margin-left: -20px;margin-top: 25px;">keyboard_arrow_down</mat-icon>
                    <input class="inputs-long" style="margin-left: -3px;" type="text"
                        placeholder="What are you Looking For ?">
                    <div>
                        <mat-icon>search</mat-icon>
                    </div>
                </div>
                <div class="iconsss">
                    <div>
                        <mat-icon>person</mat-icon><span style="margin-left: 7px;">Sign In Account</span>
                    </div>
                    <div>
                        <mat-icon>check_box_outline_blank</mat-icon><span style="margin-left: 3px;">Returns &
                            orders</span>
                    </div>
                    <div>
                        <mat-icon>shopping_cart</mat-icon><span style="margin-left: 7px;">Cart</span>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <div>
                    <img style="width: 20%;" src="../../assets/Menu_icon_icon-icons.com_71858.png"><span
                        style="margin-left: 5px;">Catogries</span>
                </div>
                <div>
                    <span>Racing</span>
                </div>
                <div>
                    <span>Rentals</span>
                </div>
                <div>
                    <span>Watch</span>
                    <img style="width: 60%;height: 80%;" src="../../assets/youtubeimg.avif" >
                </div>
                <div>
                    <span>Video</span>
                </div>
                <div>
                    <span>Sell</span>
                </div>
                <div>
                    <span>Advertise</span>
                </div>
                <div>
                    <span>RFQ</span>
                </div>
                <div style="flex-direction: column;margin-top: 70px;">
                    <span>Project Bidding</span>
                    <span style="background-color: orange;border-radius: 5px;">Sell my Ride</span>
                </div>
            </div>
            <div style="display: flex;justify-content: center;width: 100%;">
                <h1 style="font-size: xx-large;"> Your Browsing History </h1>
            </div>
            <div class="tab-second">
                <div class="grid">
                    <div
                        style="background-color: orange;width: 30%;height: 60%;display: flex;align-items: center;border-radius: 5px;margin-left: 7px;">
                        <span style="margin-left: 7px;">Delete All History</span>
                    </div>
                    <mat-icon style="color: orange;">dashboard</mat-icon>
                    <mat-icon style="color: orange;font-size: 60;">menu</mat-icon>
                </div>
                <div class="grid">
                    <div><span style="margin-left: 7px;">Turn Browsing History on</span><label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label></div>
                </div>
            </div>

        </div>

    </div>
    <div class="card-container">
        <div class="card">

            <app-cards></app-cards>
        </div>

    </div>
    <div class="footer-container">
        <div class="footer">

            <app-footer></app-footer>
        </div>

    </div>
</div>